.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: aliceblue;
  border: 1px solid black;
}

h1 {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}